.space {
    margin-left: 10px;
}

.spaceTop {
    margin-top: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

.profileImage {
  height:35px;
  width: 35px;
  margin-left: 10px;
}