<div class="container spaceTop">
  <label for="users">Users</label>

  <button type="button" class="btn btn-default space" routerLink="/users/add">
    <a class="col-1-4">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </button>

  <table class="spaceTop">
    <thead>
      <tr>
        <th>Profile</th>
        <th *ngFor="let key of header">{{key || uppercase}}</th>
        <th></th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><img class="profileImage" [src]="user.imageSrc || imagePath" alt="user.profile"></td>
        <td *ngFor="let key of header">{{user[key]}}</td>
        <td>
          <button class="btn btn-primary" routerLink="/users/{{user.email}}/edit">Edit</button> &nbsp; &nbsp;
          <button class="btn btn-primary" routerLink="/users/{{user.email}}">View</button> &nbsp; &nbsp;
          <button class="btn btn-danger" (click)="onDeleteUser(user.id)">Delete</button>

        </td>
      </tr>
    </tbody>

  </table>

</div>