<div class="container-fluid">
  <nav>
    <a (click)="displayPage('user')">Create User</a>
    <a (click)="displayPage('profile')">Upload Profile Picture</a>
  </nav>
</div>


<div class="container spaceTop" *ngIf="selectedDisplayPage === 'user'">
  <span *ngIf="messageSuccess" class="success">{{messageSuccess}}</span>
  <span *ngIf="messageErr" class="redColor">{{messageErr}}</span>
  <form #userForm="ngForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <label for="name">Name: <span class="redColor">*</span></label>
        </div>
        <div class="row  form-group">
          <div class="col-sm-6">
            <input type="text" required placeholder="name" class="form-control" name="name" [(ngModel)]="details.name" #nameControl="ngModel">
            <span class="redColor" *ngIf="nameControl.invalid && nameControl.touched">
              Name is required
            </span>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <label for="gender">Gender: </label>
        </div>
        <div class="row">

          <input type="radio" value="male" [(ngModel)]="details.gender" name="gender">Male
          <input type="radio" value="female" name="gender" [(ngModel)]="details.gender">Female
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <label for="surname">Surname: </label>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="surname" name="surname" [(ngModel)]="details.surname">
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <label for="city">City: </label>
          <span class="glyphicon glyphicon-plus spaceLeft" (click)="onShowCityDialog()"></span>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="details.city" name="city">
              <option value = "">Select City</option>
            <option *ngFor="let city of cities" value={{city.id}}>{{city.name}}</option>
          </select>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <label for="email">Email: <span class="redColor">*</span></label>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <input class="form-control" type="text" required email placeholder="email" name="email" [(ngModel)]="details.email" #email="ngModel">
            <span class="redColor" *ngIf="email.errors?.required && email.touched">
              Email is required
            </span>
            <span class="redColor" *ngIf="email.errors?.email && email.touched">
              Email is invalid
            </span>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <label for="skills">Skills: </label>
          <span class="glyphicon glyphicon-plus spaceLeft" (click)="onShowSkillDialog()"></span>
        </div>
        <div class="row">
          <div class="col-sm-6" *ngFor="let skill of skills">
            <input type="checkbox" ng-model="myVar" [checked]="skill.checked" (change)="onSkillCheck(skill.name)">{{skill.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="row spaceLeft spaceTop" *ngIf="!this.viewPage">
      <button class="btn btn-primary" (click)="onSave()" [disabled]="!(editPage || uploadFile) || userForm.invalid">Save</button>
      <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>

<div class="container spaceTop" *ngIf="selectedDisplayPage === 'profile'">
  <span *ngIf="fileMessageSuccess" class="success">{{fileMessageSuccess}}</span>
  <div class="row">
    <div class="col-sm-6">
      <input type="file" name="file" (change)="handleFileInput($event)" accept=".jpg,.png,.jpeg" #uploadFile>
      <img [src]="details.imageSrc" alt="image" *ngIf="details.imageSrc" class="image">
    </div>
    <div class="col-sm-6">
      <button (click)="onFileUpload()" class="btn btn-primary">Upload</button>
    </div>
  </div>
</div>

<div class="row spaceLeft spaceTop" *ngIf="this.viewPage">
  <button (click)="goBack()">Back</button>
</div>

<app-dialog [(visible)]="showDialog">
  <h3>Add {{dialogType}}</h3>
  <span *ngIf="dialogMessageSuccess" class="success">{{dialogMessageSuccess}}</span>
  <span *ngIf="dialogMessageErr" class="redColor">{{dialogMessageErr}}</span>
  <div class="row ">
    <div class="col-sm-6">
      <input type="text" [(ngModel)]="dialogInput">
    </div>
    <div class="col-sm-6">
      <button (click)="onSaveMaster(dialogType)" class="btn btn-primary">Save</button>
    </div>
  </div>
  <!-- <div class="row">
    <button (click)="onModalClose(dialogType)" class="btn closeButton">Close</button>
  </div> -->

</app-dialog>