nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.redColor{
  color: red
}

.success{
  color: green;
}

.spaceLeft{
  margin-left: 20px;

}

.spaceTop{
    margin-top: 20px;
}

.closeButton{
  margin-top:20px;
  margin-left: 20px;
}

.image {
  margin-top:20px;
  height: 200px;
  width:200px;
}